cross_modal_alignment/semantic_neighborhoods/models/
cross_modal_alignment/semantic_neighborhoods/doc2vec_features.pickle
cross_modal_alignment/semantic_neighborhoods/dataset.csv
cross_modal_alignment/semantic_neighborhoods/check_dataset.py
cross_modal_alignment/semantic_neighborhoods/doc2vec_model.gensim
cross_modal_alignment/semantic_neighborhoods/document_feats_knn.pickle
cross_modal_alignment/changes.txt
cross_modal_alignment/.cache/